<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhE4XTtI6uXYsWAfXShbillklmU-BCZ7s</string>
	<key>GCM_SENDER_ID</key>
	<string>174630504860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tarasha.WanderLog</string>
	<key>PROJECT_ID</key>
	<string>wanderlog-s24-c3f37</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderlog-s24-c3f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:174630504860:ios:da2011703f61734fc72059</string>
</dict>
</plist>
